li.my-list-one{ 
     
    font-size: 19px;
    color:green;
    font-weight: bold;
  }
      
  li.my-list-two{ 
     
    font-size: 19px;
    color:blue;
    font-weight: bold;
  }
  
  li.my-list-three{ 
     
    font-size: 19px;
    color:yellow;
    font-weight: bold;
  }

  li.my-list-four{ 
     
    font-size: 19px;
    color:red;
    font-weight: bold;
  }
 


    




